@media only screen and (max-width: 1024px){
  header{
		margin-left: 40px;
	}
	.flex{
		margin-right: 0;
	}

	ul{
	margin-left: 200px;
		}
	.nav2{
		width: 60%;
		margin-left: 350px;
  }
  .more{
  	margin-left: 400px;
  }
  .add > ul{
  	margin-left: 250px;
  }
  .contact > form >input[type=phone]{
	width: 700px;
	height: 20px;
}
textarea{
	width: 700px;
	border: 2px solid red;
	padding: 15px;
	padding-top: 20px;
}
.btn{
	margin-left: 300px;
}
}